.gallety {
	padding-top: 60px;
	margin-bottom: 60px;
	.title {
		margin-bottom: 40px;
	}
}
.gallery__content {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 390px);
	grid-template-rows: repeat(2, 335.5px);
	grid-template-areas: 
	"sale1 sale1 sale2 sale3"
	"sale1 sale1 sale4 sale4";
}
.img-card {
	overflow: hidden;
	border-radius: 65px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.sale-1 {grid-area: sale1;}
.sale-2 {grid-area: sale2;}
.sale-3 {grid-area: sale3;}
.sale-4 {grid-area: sale4;}

.open-img {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 90%;
		height: 90%;
		border-radius: 65px;
		position: relative;
		
	}
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 10%;
		right: 8%;
		z-index: 10;
		width: 33px;
		height: 33px;
		background-image: url('./../images/icon/close-icon-wight.svg');
	}
}