:root {
		--bg-color: #FFFFFF;

    --container-width: 1650px;
    --container-padding: 15px;
    --color-text: #2E4555 ;
		--accent-color: #E6641B;
		--color-hover: #FADF55;

		--color-sky: #5EBFC5;
		--color-blue: #2D64A1;

}

