.cont{
  margin-bottom: 270px;
}
.title_cont{
  margin-bottom: 69px;
	margin-top: 84px;
}
.title_c{
  font-size: 48px;
  color: #2E4555;
  font-weight: bold;
}
.box_cont{
  display: flex;
  flex-direction: row;
 
}
.box_text_cont{
  width: 400px;
  height: 225px;
  margin-left: 113px;
  margin-top: 10px;
}
.adress{
  margin-bottom: 60px;
}
.min_logo{
  margin-right: 20px;
}
.adress_mail{
  margin-bottom: 62px;
}

.pic1map{
  border-radius: 60px;
}

.logo3{
  margin-left: 47px;
}

.logo_vk{
  margin-right: 20px;
}
.logo_od{
  margin-right: 20px;
}
/*..................*/





.none {
  display: none !important;
}